DATABASE_URL="postgresql://rangras:8M0JE2SGmos0Q4Jybi@localhost:5432/rasang"
JWT_SECRET=super_secret_festival_key
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
PORT=5000
PGHOST=localhost
PGUSER=rangras
PGPASSWORD=8M0JE2SGmos0Q4Jybi
PGDATABASE=rasang
PGPORT=5432
TICKET_SECRET=102c46deb22af6b1c5c378ff99947e10321999e596b85b0db9f7a31d9ab42ca4

# MinIO Storage Configuration (Fill in these values)
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=rangras-minio
MINIO_SECRET_KEY=4lVK74Hs7q5r2rfdRFydXyktdL
MINIO_BUCKET_NAME=rasrang-assets

# Frontend Client URL
CLIENT_URL=https://rasrang.org
MINIO_PUBLIC_URL=https://rasrang.org

# Bcrypt Hardening
BCRYPT_SALT_ROUNDS=12
BCRYPT_SECRET=5781a71ce239a5df9e86d4fffbdf74802a74e10a4573337f2c9f35f11adc8010
