DATABASE_URL="postgresql://noxmentis:123456789@localhost:5432/rasang"
JWT_SECRET=super_secret_festival_key
GOOGLE_CLIENT_ID=211773696839-9dc0qgs47fut126pvk9ub8veurcsf09f.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=dummy
PORT=5000
PGHOST=localhost
PGUSER=noxmentis
PGPASSWORD=12345678
PGDATABASE=rasang
PGPORT=5432
TICKET_SECRET=super_secret_festival_key
